
# Windows and OSX Specific System Files
.DS_Store
*.swp
ehthumbs.db
Thumbs.db
Icon\?

# Tool and Project Meta: Node, Composer, PHPStorm, VSCode, Vagrant, Yarn
/node_modules
/vendor
/.idea
/.vscode
/.vagrant
npm-debug.log
yarn-error.log
.env

nbproject/
